<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hệ Thống Thư Viện Sách</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/ckeditor")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Quản Lí Thư Viện", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bảng Thủ Thư", "Index", "BangThuThus")</li>
                    <li>@Html.ActionLink("Đăng Ký Cá Nhân", "Index", "DangKyCaBiets")</li> 
                    <li>@Html.ActionLink("Dộc Giả", "Index", "DocGias")</li>
                    <li>@Html.ActionLink("Kho Sách", "Index", "KhoSaches")</li>
                    <li>@Html.ActionLink("Mượn Trả", "Index", "MuonTras")</li>
                    <li>@Html.ActionLink("Nhà Xuất Bản", "Index", "NhaXBs")</li>
                    <li>@Html.ActionLink("Sách", "Index", "Saches")</li>
                    <li>@Html.ActionLink("Đăng Nhập", "Login", "Account")</li>
                    <li>@Html.ActionLink("Đăng Xuất", "Logout", "Account")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
