@model IEnumerable<QUANLITHUVIEN.Models.DocGia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChoOHienTai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapThe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HanDungThe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChoOHienTai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapThe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HanDungThe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SoThe }) |
            @Html.ActionLink("Details", "Details", new { id=item.SoThe }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SoThe })
        </td>
    </tr>
}

</table>
